<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="First Name" class="form-control"  >
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Last Name" class="form-control"  >
    </div>
</div>
<div class="row">
    <div class="col-md-12 form-group">
        <input placeholder="Designation" class="form-control" >
    </div>
    
</div>
<div class="row">
    <div class="col-md-6 form-group">
        <input placeholder="Contact" class="form-control"  >
    </div>
    <div class="col-md-6 form-group">
        <input placeholder="Address" class="form-control" >
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-success">SAVE</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary">CLEAR</button>
    </div>
</div>